ENV_SECRET_KEY=secret-key-gerada-pelo-django
ENV_DEBUG=True
ENV_ALLOWED_HOSTS=*
ENV_DATABASE_URL=mysql://user:pass@localhost:3306/nome_banco

# Envio de e-mail
ENV_EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
ENV_EMAIL_HOST = 'smtp.gmail.com'
ENV_EMAIL_USE_TLS = True
ENV_EMAIL_PORT = 587
ENV_EMAIL_HOST_USER = 'email.remetente@example.com'
ENV_EMAIL_HOST_PASSWORD = 'senha_do_email'
